* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}


#container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    z-index: 2;
    align-content: space-around;

}

h1 {
    max-width: 100%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    position: absolute;
    margin-top: 30px;
    transform: translate(300px);
}

p {
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    margin-left: 58px;
}

.loan {
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    margin-left: 58px;
}

#graph {
    background: rgb(255, 255, 255);
    background: linear-gradient(73deg, rgba(255, 255, 255, 0.6671043417366946) 0%, rgba(78, 140, 41, 0.8743872549019608) 46%);
   
    margin-left: 70px;
    width: 400px;
    height: 250px;
    border: solid black 1.5px;
    border-radius: 3px;

}

/* Esta é uma folha de estilos CSS: ela adiciona estilo na saída do programa */
.output {

    font-weight: bold;
    padding-left: 12px;
}

/* Valores calculados em negrito */
#payment {
    text-decoration: underline;
}

/* Para elemento com id="payment" */


.card {
    background: rgb(255, 255, 255);
    background: linear-gradient(73deg, rgba(255, 255, 255, 0.6671043417366946) 0%, rgba(78, 140, 41, 0.8743872549019608) 46%);
    position: absolute;
    margin-top: 30px;
    right: 0;
    top: 0;
    height: 90%;
    width: 70%;
    border-radius: 20px;
    z-index: 1;
    transform: translate(-250px);
}

#amount {

    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

#apr {

    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

#years {
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

#zipcode {

    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button.calc {
    background-color: white;
    max-width: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button.calc:hover {
    background-color: black;
    color: white;
}

p.rodape {
    margin-top: 50px;
}